.product-editor-card {
  border-radius: 30px;
  background-color: whitesmoke;
}

.card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  white-space: nowrap;
  font-size: 40px;
}

@media only screen and (min-width: 768px) {
  .card-title {
    font-size: 50px;
  }
}

.rating-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}