<button class="btn btn-secondary m-1" (click)="handleToHomeClick()">
  Back home
</button>
<button class="btn btn-success m-1" (click)="handleAddProductClick()">
  New product
</button>

<div *ngIf="isProductsLoaded; then productsTable; else loading"></div>

<ng-template #productsTable>
  <div class="mx-5 my-3">
    <products-table
      [products]="products$ | async"
      (on-edit-product)="handleEditProductClick($event)"
      (on-remove-product)="handleRemoveProductClick($event)"
    ></products-table>
  </div>
</ng-template>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
  </div>
</ng-template>
