<div class="mx-5 my-3">
  <div class="d-flex row p-0 justify-content-center">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search</mat-icon> Search and filter...
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex row">
          <products-filter-form (on-apply)="handleSearchFilterSubmit($event)"> </products-filter-form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="mx-5 my-3" [hidden]="state === 'Error'">
  <div class="mat-elevation-z8 div-table">

    <!-- NOTE: Old loading, no longer needed.  -->
    <!-- <div class="screen-shade" *ngIf="state === 'Loading'">
      <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div> -->
    
    <products-table
      [products]="products$ | async"
      [min-rows]="filterParams?.limit ?? INITIAL_LIMIT"
      (on-edit-product)="handleEditProductClick($event)"
      (on-remove-product)="handleRemoveProductClick($event)"
      (on-sort-change)="handleSortChange($event)"
    ></products-table>

    <mat-paginator
      [length]="(productsCount$ | async) ?? 0"
      [pageSize]="filterParams?.limit ?? INITIAL_LIMIT"
      [pageIndex]="filterParams?.page ?? INITIAL_PAGE"
      [pageSizeOptions]="[5, 10]"
      (page)="handlePageChange($event)"
    ></mat-paginator>
  </div>
</div>

<div class="container" [hidden]="state !== 'Error'">
  <div class="d-flex row justify-content-center">
    <h2 class="text-center">Hey, it looks like something went wrong 🥺</h2>
  </div>
  <div class="d-flex row justify-content-center">
    <button mat-fab (click)="handleRefreshClick()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
